@media(max-width:2560px){
    
.under-service-card{
    width: 480px;
    height: 480px;
}


.under-service-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


.featured-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 500px 0 500px;
}

.collection-card{
    height: 360px;
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

.small-section{
    min-height: 200px;
    display: flex;
    padding: 0 20px 0 20px;
    position: relative;
}

.explore-btn{
    position: absolute;
    right: 5%;
    top: 50%;
 }

}

@media(max-width:1440px){
    .featured{
        margin-top: 100px;
    }
    .featured-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 200px 0 200px;
    }


    .collection-card{
        height: 260px;
        width: 400px;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .footer-wrapper{
        display: flex;
        gap: 100px;
    }

    
    .main-carousel{
        height: 600px;
        width: 100%;
        padding: 0;
    }
    
    .our-story{
        margin-top: 20px;
        width: 100%;
        padding: 0;
    }
}

@media(min-width:1347px) {
    .dropdown{
        display: none;
    }
}


@media(max-width:1347px){

    .navbar{
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;
        border-bottom: solid grey 1px;
    }
    .navbar .logo img{
        width: 200px;
        height: 25px;
    }

    .dropdown-menu{
        display: flex;
    }

    .main-carousel{
        height: 600px;
        padding: 0;
    }

    .slider{
        width: 100%;
    }

    .service-card{
        height: 200px;
        width: 290px;
    }


    .under-service{
        padding: 0 10px 0 10px;
        margin-top: 25%;
    }

    .service-wrapper{
        padding: 0 10px 0 10px;
    }

    .featured-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px 0 100px;
    }

    
    .collection-card{
        height: 260px;
        width: 300px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .our-story{
        margin-top: 20px;
        padding: 0;
    }

    .small-area{
        padding: 30px;
    }

    .testimonials{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        min-height: 480px;
        padding: 0;
    }

    .copyright{
        display: flex;
        justify-content: space-between;
        height: 100px;
        padding: 30px;
    }



}


@media(max-width: 1219px){
    
    .small-section{
        min-height: 200px;
        display: flex;
        padding: 0 30px 0 30px;
        position: relative;
    }

    .explore-btn{
        position: absolute;
        right: 5%;
        top: 50%;
    }

    .collection-wrapper{
        display: flex;
        gap: 20px;
    }
}


@media(max-width: 1057px){
    .service-card{
        height: 200px;
        width: 290px;
    }

    
    .service-wrapper{
       gap: 20px;
    }

    
    .collection-card{
        height: 280px;
        width: 290px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    
    .details-card{
        width: 140px;
        height: 100px;
        background-color: #FFFBF2;
        position: absolute;
        bottom: 5%;
    }

    
    .coll-name h3{
        font-size: 15px;
    }

    .details-card a{
        font-size: 10px;
    }

    .details-card>div{
        display: flex;
        justify-content: center;
        margin: 10px;
        text-align:center;
    }


    


}


@media(max-width: 1023px){
    .service-card{
        height: 170px;
        width: 270px;
    }
    


}

@media(max-width: 917px){
    .services{
        min-height: 300px;
    }
}


@media(max-width: 768px){
    .navbar .center-nav{
        display: none;
    }

    .navbar .right-nav{
        display: none;
    }

    .menu-bar{
        display: inline-block;
    }

    .small-section{
        min-height: 200px;
        display: flex;
        padding: 0 20px 0 20px;
        position: relative;
    }

    .explore-btn{
        position: absolute;
        right: 0;
        top: 50%;
     }

     .service-card{
        height: 100px;
        width: 160px;
    }

    .under-service-card{
        width: 280px;
        height: 100px;
    }
    

    
    .under-service{
        padding: 0 10px 0 10px;
    }

    .services{
        min-height: 500px;
    }

    .under-service{
        min-height: 430px;
    }

    .collection-wrapper{
        display: flex;
        gap: 80px;
    }

    .collection-card{
        height: 180px;
        width: 200px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    
    .details-card{
        width: 100px;
        height: 90px;
        background-color: #FFFBF2;
        position: absolute;
        bottom: 5%;
    }

    .coll-name h3{
        font-size: 10px;
    }

    .details-card a{
        font-size: 8px;
    }
      
    
    .details-card>div{
        display: flex;
        justify-content: center;
        margin: 10px;
        text-align:center;
    }

    

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 700px;
        padding: 0 60px 0 60px;
    }

    

    .footer-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    
}

@media(max-width: 585px) {
    .small-section{
        min-height: 200px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    
    }

    .explore-btn{
        position: relative;
        display: flex;
        justify-content: center;
        height: fit-content;
       
    }


    .collection{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    
    .details-card{
        width: 120px;
        height: 120px;
        background-color: #FFFBF2;
        position: absolute;
        bottom: 5%;
    }


    .collection-wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
    }

    .collection-card{
        width: 100%;
    }

    
    .coll-name h3{
        font-size: 17px;
    }

    .details-card a{
        font-size: 15px;
    }
      

    .float-left{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .services{
        min-height: 80vh;
        padding: 0 20px 0 20px;
        display: flex;;
        justify-content: center;
        align-items: center;
    }
    

    .service-wrapper{
        display: flex;
        flex-direction: column;
    }

    .service-card{
        height: 300px;
        width: 100%;
    }

    .service-card img{
        width: 100%;
        height: 280px;
        object-fit: cover;
    }

    .under-service-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }


    .under-service{
        padding: 0 20px 0 20px;
        min-height: 80vh;
    }
    
    .under-service-card{
        width: 100%;
        height: 480px;
    }

    .featured-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;
        
    }

    .testimonials{
        display: grid;
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 1fr;
        padding: 0;
        min-height: 600px;
    }

    .test-col1{
        width: 100%;
        height: 100%;
        background-image: url(images/testimony.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    footer{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 60px 0 60px;
    }

    .copyright{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100px;
        padding: 0 60px 0 60px;
    }


}

@media(max-width:425px) {
    .small-section{
        min-height: 200px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    
    }

    .explore-btn{
        position: relative;
        display: flex;
        justify-content: center;
        height: fit-content;
       
    }


    .collection{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    
    .details-card{
        width: 120px;
        height: 120px;
        background-color: #FFFBF2;
        position: absolute;
        bottom: 5%;
    }


    .collection-wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
    }

    .collection-card{
        width: 100%;
    }

    
    .coll-name h3{
        font-size: 17px;
    }

    .details-card a{
        font-size: 15px;
    }
      

    .float-left{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .services{
        min-height: 80vh;
        padding: 0 20px 0 20px;
        display: flex;;
        justify-content: center;
        align-items: center;
    }
    

    .service-wrapper{
        display: flex;
        flex-direction: column;
    }

    .service-card{
        height: 300px;
        width: 100%;
    }

    .service-card img{
        width: 100%;
        height: 280px;
        object-fit: cover;
    }

    .under-service-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }


    .under-service{
        padding: 0 20px 0 20px;
        min-height: 80vh;
    }
    
    .under-service-card{
        width: 100%;
        height: 480px;
    }

    .featured-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;
        
    }

    .testimonials{
        display: grid;
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 1fr;
        padding: 0;
        min-height: 600px;
    }

    .test-col1{
        width: 100%;
        height: 100%;
        background-image: url(images/testimony.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    footer{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 60px 0 60px;
    }

    .copyright{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100px;
        padding: 0 60px 0 60px;
    }



  
}


@media(max-width:335px){
    .collection-btn button{
        width: 130px;
        height: 40px;
        color: white;
        border: none;
        background-color: black;
        cursor: pointer;
        transition: all .50s;
    }

    .featured-header h1{
        font-size: 20px;
    }

    .copyright img{
        width: 150px;
        height: 20px;
    }
    
    
}